.back {
    width: 100%;
    display: flex;
}
.container {
    position: relative;
    background: #fff5e9;
    height: 80vh;
    width: 50%;
}
.circlet {
    padding-top: 20px;
}
.circle-2 {
  color: #8e6123;
  padding: 5%;
  width: 60px;
  height: 50px;
  margin-top: 0px;
  margin-left: 30px;
  mix-blend-mode: multiply;
  background: #FFE5C0;
  border-radius: 70% 30% 50% 50%/50%;
}
.circle {
    width: 80px;
    /* margin-left: 20px; */
}
.container2 {
    position: relative;
    background: #eee7e0;
    height: 80vh;
    width: 50%;
}
.question {
    width: 100px;
    height: 50px;
    /* background-color: red; */
    /* 水平・垂直方向の中央揃え */
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
}

.wave {
    position: absolute;
    height: 110px;
    width: 100%;
    background: #fff5e9;
    bottom: 0;
}
.wave::before, .wave::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100% 50%;
}
.wave::before {
    width: 55%;
    height: 109%;
    background-color: #fff;
    right: -1.5%;
    top: 60%;
}
.wave::after {
    width: 55%;
    height: 100%;
    background-color: #fff5e9;
    left: -1.5%;
    top: 40%;
}
.wave2 {
    position: absolute;
    height: 110px;
    width: 100%;
    background: #eee7e0;
    bottom: 0;
}
.wave2::before, .wave2::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100% 50%;
}
.wave2::before {
    width: 55%;
    height: 109%;
    background-color: #fff;
    right: -1.5%;
    top: 60%;
}
.wave2::after {
    width: 55%;
    height: 100%;
    background-color: #eee7e0;
    left: -1.5%;
    top: 40%;
}

/* 画面外 */
.fade-block1 {
    opacity: .1;
    transition: all 1.5s;
  }
  /* 画面に入った時の動き */
  .fade-block1.blockIn {
    opacity: 1;
  }

.contents {
    padding-top: 100px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 50px;
}
.box2 {
    width: 500px;
    height: auto;
    background-color: #92c5fd;
    animation: fadeIn linear both;
    animation-timeline: view();
    animation-range: entry 25% cover 50%;
}
.contents2 {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
    gap: 50px;
}
@keyframes fadeIn {
from {
    opacity: 0;
    clip-path: inset(45% 20% 45% 20%);
}

to {
    opacity: 1;
    clip-path: inset(0% 0% 0% 0%);
}
}

table, td, th {
    border: 2px #ff0000 solid;
}

@media (max-width: 600px) {
    body {
        flex-direction: column;
    }
}
      